html {
  --tooltip-background-color: rgba(0, 0, 0, 0.75);
  --tooltip-text-color: #fff;
  --result-shadow-color: #000;
}

html[data-theme="dark"] {
  --tooltip-background-color: rgba(255,255,255,0.75);
  --tooltip-text-color: #000;
  --result-shadow-color: #fff;
}

#test {
  position: absolute;
  font-size: 13px;
  visibility: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
}

.result-wrap {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.result-image {
  display: flex;
  width: 50%;
  border-right: 1px solid var(--split-border-color);
  padding: 16px;
  align-items: center;
  justify-content: center;

  .result-image-inner {
    flex: 1;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.result-text {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;


  textarea {
    font-size: 13px;
    flex: 1;
    padding: 8px;
    resize: none;
    color: var(--primary-text-color);
    border: 0;
    outline: none;
    background: transparent;
  }
}

.result-options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 26px;
  padding: 2px;
  transition: opacity 0.25s cubic-bezier(0.3, 1.2, 0.2, 1);
  opacity: 0;
  box-shadow: 0 0 15px -7px var(--result-shadow-color);

  .icon {
    position: relative;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
    transition: opacity 0.25s cubic-bezier(0.3, 1.2, 0.2, 1);
    opacity: 0.2;
    color: 666;

    &:hover {
      opacity: 1;

      .tooltip {
        visibility: visible;
        transition-delay: 500ms;
        transform: translateY(0);
        opacity: 1;
      }
    }

    &.checked {
      opacity: 1;
      color: #f39342;
    }

    &.pin svg {
      transform: rotate(45deg) translate(0, 2px);
      transform-origin: 50% 50%;
      transition: all 0.25s ease;
    }

    &.pin.checked svg{
      transform: rotate(0deg) translate(-1px, 1px);
    }

    &.copy {
      opacity: 0.7;
      font-size: 20px;
      padding: 1px;

      &:hover{
        opacity: 1;
      }
    }
  }

  .tooltip {
    position: absolute;
    z-index: 99;
    bottom: 100%;
    left: 0;
    font-size: 10px;
    line-height: 20px;
    visibility: hidden;
    margin-bottom: 4px;
    margin-left: -4px;
    padding: 4px 6px;
    transition: all 0.25s cubic-bezier(0.3, 1.2, 0.2, 1);
    transition-delay: 0ms;
    transform: translateY(-10px);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    opacity: 0;
    color: var(--tooltip-text-color);
    border-radius: 4px;
    background-color: var(--tooltip-background-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    &:after {
      position: absolute;
      top: 100%;
      left: 11px;
      width: 0;
      height: 0;
      content: ' ';
      pointer-events: none;
      border: solid transparent;
      border-width: 5px;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: var(--tooltip-background-color);
    }

    &.right {
      right: 0;
      left: auto;
      margin-right: -4px;
      margin-left: 0;

      &:after {
        right: 11px;
        left: auto;
      }
    }
  }

  .toolbar {
    padding-left: 4px;

    .icon {
      margin-right: 4px;
    }
  }
}

.result-text:hover .result-options {
  opacity: 1;
}
